/* estilo do body da página */
body {
    font-family: "Montserrat", sans-serif;
    color: #4f4045;
}

/* estilo do h2 da página */
h2 {
    margin-top: 5px;
    text-align: center;
}

/* estilo da seção about us da página */
.about-us {
    margin-top: 10px;
    text-align: center;
}

/* estilo da ''lista'' */
.about-ul {
    margin-bottom: 18px;
    text-align: center;
}