.search-container {
  margin: 20px;
  padding: 20px;
  background-color: #ffcbdb;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.search-results {
  text-align: center;
  margin-bottom: 20px;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  color: #4f4045;
  margin-bottom: 0.5rem;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  color: #4f4045;
  margin-bottom: 0.5rem;
}

.clear-btn {
  margin-top: 10px;
  background-color: #fc85c0;
  font-weight: bold;
  color: #292325;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.clear-btn:hover {
  background-color: #f17ea1;
}